
  <div class="message" data-time="<%= message.created_at.to_i %>">	
  	
  	<span class="user"><%= link_to message.user_source.contact.nom_complet, @user %></span> 
  	<span class="timestamp" ><%= message.created_at.to_formatted_s(:normal) %></span> 
    <span class="content"><%= message.content %></span>
    
  </div>
