<section id="aboutUs">
		
<div class="inner_wrapper">

	
  <div class="container">
  	
  	
    <div class="inner_section">
    	
    	<div class="col-lg-7 col-sm-7">
	    		
	    	<div id="messages" data-user="<%= @user.id %>">
							
							<% @users.each do |user| %>
	     					
		     					<% unless @messages[user].empty? %>
							        <%= render @messages[user] %>			 						 		
				 				<% end %>
	  	
	   						<% end %>
	
			</div>
		
    	</div>
    	
		<div class="col-lg-7 col-sm-7">
			
			<%= render 'shared/message_form' %>
	        
	    </div>
    
    </div>
  </div> 
  </div>
</section>

