
<section id="aboutUs">
		
<div class="inner_wrapper">

	
  <div class="container">
  	
  	
    <div class="inner_section">
    	
    	<div id="messages" data-user="<%= @user.id %>" class="col-lg-6 col-sm-7">
					
						<% unless @messages.empty? %>
					        <%= render @messages %>			 						 		
		 				<% end %>
		</div>
    	
		<div class="col-lg-7 col-sm-7">
			
			<%= render 'shared/message_form' %>
	        
	    </div>
    
    </div>
  </div> 
  </div>
</section>

