
<% unless @user.microposts.empty? %>
<div class="col-lg-10 col-sm-7">
	        <table>
	          <%= render @microposts %>
	        </table>
	        <%= will_paginate @microposts %>
</div>	        
<% end %>