
<section class="page_section team" id="team"><!--main-section team-start-->
  <div class="container">
	<div class="member-area">
		<div class="row">
			<%= render 'user_info'%>
			<%= link_to "Modifier", edit_contact_path(current_user.contact) %>			
						
		</div><!-- /.row -->
	</div>
</div>
</section>

