<section class="page_section team" id="team"><!--main-section team-start-->
  <div class="container">
    <h2><%= @titre %></h2>

<div class="member-area">
					<div class="row">
						<% unless @users.empty? %>

					        <% @users.each do |user| %>
					        
					 		  <% @user = user %>
					        	     
					          <%= render "user_info" %>
					          
					        <% end %>
					        
					        <%= will_paginate @users %>
					        
					      <% end %>
						
						
					</div><!-- /.row -->
				</div>
</div>
</section>

