
<section class="page_section team" id="team"><!--main-section team-start-->
  <div class="container">
	<div class="member-area">
		<div class="row">
			<%= render @user %>									
		</div><!-- /.row -->
	</div>
</div>
</section>

