<section id="aboutUs">
		
<div class="inner_wrapper">

	
  <div class="container">
  	
  	<%= render 'shared/messages', :object => @micropost %>
  	
    <div class="inner_section">
    	
    	
    	
    	<div class="col-lg-12 col-sm-7">   
    		
    		
    		<div id="calendar">
    			
    			
    			
    			
    		</div>
	        
	    </div>
	    

    
    </div>
  </div> 
  </div>
</section>