
<section class="page_section team" id="team"><!--main-section team-start-->
  <div class="container">
		<div class="member-area">
			
					<div id ="user" class="row">
							<div class="col-lg-6 col-sm-7">
								
								<%= render @contact %>
									
							</div>
					</div>

		</div>
</div>
</section>
				
