
<section class="page_section team" id="team"><!--main-section team-start-->
  <div class="container">
		<div class="member-area">
			
					<h2>Informations générales :</h2>
		
					<div id ="project" class="row">
							<div class="col-lg-6 col-sm-7">
								
								<%= render @project %>
									
							</div>
					</div>
					
					<div id ="membres" class="row">

							 <% unless @users.empty? %>				
					        	
					        	<%= will_paginate @users %>
					        	
					        		<%= render @users %>
					        		
					        	<%= will_paginate @users %>
						        
						     <% end %>

					</div>

		</div>
</div>
</section>
				
