  
<!-- Portfolio -->
<section id="menu_action"> 
  
  <!-- Container -->
  <div class="container portfolio_title"> 
  	
  	<!-- Title -->
    <div class="section-title">
      <h2><%= @titre %></h2>
    </div>
    <!--/Title --> 
  	
    <a href="<%= "/#{object.class.to_s.downcase}s/new" %>"><h5>Ajouter</h5></a>

	<%= render 'shared/messages', :object => object %>
    
    
    
  </div>
  <!-- Container -->
  
  <div class="portfolio-top"></div>


  
</section>