<%= render 'menu_action', :object =>  @datafile %>

<section class="page_section team" id="team"><!--main-section team-start-->
  <div class="container">
		<div class="member-area">
			
			
					<div class="row">
								
																	
						<div class="col-lg-12 col-sm-7">
							
								
								<% unless @datafiles.empty? %>
	
										<table class="table">
																		
											<tr>
												<td>Nom</td>												
												<td>Version</td>
												<td>Description</td>
												<td>Ajouté par</td>
												<td>Date et heure d'ajout</td>
												<td>Téléchargement</td>
												<td></td>
											</tr>
											
											
									        <% @datafiles.each do |datafile | %>
									        
										 		  <% @datafile = datafile %>
									 		  
												  <%= render "version_info" %>		          
									          
								    	    <% end %>							    	    
								    	    
								    	</table>
						    	   
						        
							    <% else %>
							        	<p>Aucune version.</p>							       				        				    
								<% end %>
								
						 </div>
						
					</div><!-- /.row -->
		</div>
</div>
</section>

