<div id="footer_block">
  <div id="footer">
    <p>Copyright &copy; <a href="#">Domain Name</a> | Design by <a target="_blank" href="http://www.valeron.net">VALERON design studio</a></p>
  </div>
</div>