<!--Header_section-->
<header id="header_wrapper">
  <div class="container">
    <div class="header_box">		  
		  <%= render 'layouts/menu' %>	  
    </div>
  </div>
</header>
<!--Header_section-->