		<div class="resize">
	      <div class="prominent">
	        <div class="left">
	          <h2>Example of a title 1</h2>
	          <p><%= image_tag("success1.png", :width => "50", :height => "50", :hspace => "10", :alt => "") %>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
	          <p class="link"><a href="#">Read more about Product 1</a></p>
	        </div>
	        <div class="center">
	          <h2>Example of a title 2</h2>
	          <p><%= image_tag("success.png", :width => "50", :height => "50", :hspace => "10", :alt => "") %>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
	          <p class="link"><a href="#">Read more about Product 2</a></p>
	        </div>
	        <div class="right">
	          <h2>Example of a title 3</h2>
	          <p><%= image_tag("success3.png", :width => "50", :height => "50", :hspace => "10", :alt => "") %>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
	          <p class="link"><a href="#">Read more about Product 3</a></p>
	        </div>
	        <div class="clr"></div>
	      </div>
	      <div class="clr"></div>
	    </div>